<p> </p>
<div class="center">
    <button mat-raised-button color="primary" [routerLink]="['/pageData']">Données</button>
    <button mat-raised-button >Chiffrage</button>
    <button mat-raised-button >Delivery</button>
    <button mat-raised-button >Echéancier</button>
    <button mat-raised-button >Synthèse</button>
</div>
<br/>
<div class="main-div">
  <mat-card class="card">
    <mat-card-title>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Veuillez saisir vos données:</mat-card-title>
    </mat-card-title>

    <form [formGroup]="myGroup" (ngSubmit)="onSubmit(formGroup)">
    <mat-card-content>
      <h3></h3>
      
      <mat-form-field appearance="legacy">
        <mat-label>Nom client</mat-label>
        <mat-select  formControlName="nom"  placeholder="Nom Client" name="user" (selectionChange)="changeClient($event.value)">
          <mat-option *ngFor="let user of users" [value]="user.clientId">
            {{user.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h3></h3>
      <mat-form-field appearance="legacy">
        <mat-label>Nom projet</mat-label>
        <mat-select  formControlName="projet"   name="projet" (selectionChange)="changeProject($event.value)">
          <mat-option *ngFor="let project of projects" [value]="project.projetId">
            {{project.nomProjet}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h3></h3>
      <mat-form-field appearance="standard">
        <mat-label>Catégorie</mat-label>
        <mat-select (openedChange)="changeCategorie($event)" placeholder="Catégorie"  [formControl]="selectedCat"  multiple >
          <mat-option  *ngFor="let categorie of categories" [value]="categorie.categorieId"  >
            {{categorie.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h3></h3>
      <mat-form-field appearance="standard">
        <mat-label>Domaines</mat-label>
        <mat-select (openedChange)="changeDomaine($event)" placeholder="Domaines"   [formControl]="selectedDom"  multiple  >
          <mat-option *ngFor="let domaine of domaines" [value]="domaine.domaineId"  >
            {{domaine.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    </mat-card-content>
    <button mat-raised-button color="primary" style="margin-right:100px;">Valider</button>
  </form>
  </mat-card>
</div>



   

