
<div class="center2">
  <h1>BIENVENU</h1>
</div>

<div class="center">
  <button [routerLink]="['/pageData']" class="b1" mat-raised-button color="primary">Estimer</button>
  <button [routerLink]="['/pageVisualiser']" mat-raised-button >Visualiser</button>
</div>



