
.b1{
  margin-right: 10rem;
}
  
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}


.center2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

