<p> </p>
<div class="center">
    <button mat-raised-button [routerLink]="['/pageData']">Données</button>
    <button mat-raised-button [routerLink]="['/pageChiffrage']">Chiffrage</button>
    <button mat-raised-button [routerLink]="['/pageDelivery']" >Delivery</button>
    <button mat-raised-button [routerLink]="['/pageEchancier']">Echéancier</button>
    <button mat-raised-button color="primary" [routerLink]="['/pageSynthese']" >Synthèse</button>
</div>
<br/>
<div class="main-div">
  <mat-card class="card">
    <mat-card-title>
        <mat-card-title>Synthèse:</mat-card-title>
    </mat-card-title>
    <mat-card-content>
   <div id="all">
        <div id="bold">Nom client: </div>{{NomClient}}
        <div  id="bold">Nom Projet: </div>{{NomProjet}}
        <div id="bold">Modéle de delivery: </div>{{model}}
    </div> 
        <table>
            <tr>
                <th>Etape</th>
                <th>Montant à payer</th>
                <th>Date </th>
            </tr>
            <tr *ngFor ="let e of etapes; let i = index"> 
                <td>{{e}}</td>
                <td>{{Montant[i]}}</td>
                <td>{{dates[i]}}</td>
            </tr>
            <tfoot>
                <tr>
                    <td></td>
                    <td>{{total}} </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="onSave()" style="margin-right:100px;">Valider</button>
  </mat-card>
</div>