<p> </p>

<br/>
<div class="main-div">
  <mat-card class="card">
    <mat-card-title>
        <mat-card-title>Liste des devis:</mat-card-title>
    </mat-card-title>
    <mat-card-content>
        <table>
            <tr>
                <th>Etape</th>
                <th>Montant à payer</th>
                <th>Date </th>
            </tr>
            <tr> 
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </mat-card-content>
  </mat-card>
</div>
